<!doctype html>
<html>
<head>
    <base href="">
    <title>Info Austria — Начните успешное будущее в Австрии уже сегодня</title>
    <meta content="" name="keywords">
    <meta charset="utf-8" />
    <link href="css/style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body class="page page_index">
    <header class="header">
        <div class="grid grid_space-between clearfix">
            <div class="grid__col_12">
                <div class="header__logo"></div>
                <nav class="header__menu">
                    <ul class="menu" id="menu">
                        <li class="menu__item" v-for="link in links">
                            <a class="menu__link"
                               v-bind:href="link.href"
                               v-bind:title="link.title">
                                {{ link.name }}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="offer-index">
        <div class="grid grid_space-between">
            <div class="grid__col_12">
                <div class="offer-index__headline" id="headline" v-html="text"></div>
                <div class="offer-index__subline" id="subline" v-html="text"></div>
                <div class="offer-index__buttons" id="buttons">
                    <a class="btn btn_color_lightest"
                       v-for="link in links"
                       v-bind:href="link.href"
                       v-bind:title="link.title">
                        {{ link.name }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="profits-index">
        <div class="grid grid_space-between profits-index__profits">
            <div class="grid__col_12">
                <h2 class="headline headline_2" id="headline_2">{{ text }}</h2>
            </div>
            <div class="grid__col_4">
                <div class="profit-block profit-block_1" id="headline-left">
                    <div class="profit-block__headline headline headline_4 headline_left">{{ headlineText }}</div>
                    <div class="profit-block__text p">{{ headlineInner }}</div>
                </div>
            </div>
            <div class="grid__col_4">
                <div class="profit-block profit-block_2" id="headline-center">
                    <div class="profit-block__headline headline headline_4 headline_left">{{ headlineText }}</div>
                    <div class="profit-block__text p">{{ headlineInner }}</div>
                </div>
            </div>
            <div class="grid__col_4">
                <div class="profit-block profit-block_3" id="headline-right">
                    <div class="profit-block__headline headline headline_4 headline_left">{{ headlineText }}</div>
                    <div class="profit-block__text p">{{ headlineInner }}</div>
                </div>
            </div>
        </div>
        <div class="grid grid_space-between">
            <div class="grid__col_12 profits-index__buttons" id="profits-button">
                <a class="btn btn_size_large"
                   v-bind:href="link.href"
                   v-bind:title="link.title">
                    {{ link.name }}
                </a>
            </div>
        </div>
    </div>
    <section class="howwecanhelp-index" id="how-help">
        <div class="grid grid_space-between">
            <div class="grid__col_7">
                <div class="howwecanhelp-index__image"></div>
            </div>
            <div class="grid__col_5">
                <div class="howwecanhelp-index__content">
                    <h2 class="headline headline_4 headline_right">{{ header }}</h2>
                    <p class="p p_right">{{ innerTextFirst }}</p>
                    <p class="p p_right">{{ innerTextSecond }}</p>
                    <div class="howwecanhelp-index__buttons">
                        <a class="btn btn_size_large"
                           v-bind:href="link.href"
                           v-bind:title="link.title">
                            {{ link.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials-index">
        <div class="testimonials-index__title"></div>
        <div class="testimonials js-testimonials owl-carousel" id="testimonials">
            <author-text
                v-for="men in people"
                v-bind:author-text="men.text"
                v-bind:author="men.author"
                v-bind:key="men.id">
            </author-text>
        </div>
    </section>
    <template id="author-text-template">
        <div class="testimonials__item icon-quotes-left">
            <div class="testimonials__text">{{ authorText }}</div>
            <div class="testimonials__author">{{ author }}</div>
        </div>
    </template>
    <footer class="footer">
        <div class="grid grid_space-between">
            <div class="grid__col_3">
                <div class="address-block icon-location">
                    <div class="address-block__item address-block__country">
                        <a class="address-block__link" href="contacts" title="">Estonia</a>
                    </div>
                    <div class="address-block__item">
                        11415
                    </div>
                    <div class="address-block__item">
                        Pae tn 21
                    </div>
                    <div class="address-block__item">
                        +43 6886 4962658
                    </div>
                    <div class="address-block__item">
                        office@info-austria.com
                    </div>
                </div>
            </div>
            <div class="grid__col_3">
                <div class="address-block icon-location">
                    <div class="address-block__item address-block__country">
                        <a class="address-block__link" href="contacts" title="">Russia</a>
                    </div>
                    <div class="address-block__item">
                        121165
                    </div>
                    <div class="address-block__item">
                        Dunaevskogo Street, 4
                    </div>
                    <div class="address-block__item">
                        +7 926 182 5998
                    </div>
                    <div class="address-block__item">
                        infoaustria.est@gmail.com
                    </div>
                </div>
            </div>
            <div class="grid__col_2">
                <ul class="links-block">
                    <li class="links-block__item">
                        <a class="links-block__link" href="/about" title="About">About</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="/education" title="Education">Education</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="/universities" title="Университеты">Universities</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="/services" title="Услуги">Services</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="/news" title="Новости">Blog</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="/contacts" title="Контакты">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="grid__col_4">
                <ul class="links-block links-block_font_thin">
                    <li class="links-block__item">
                        <a class="links-block__link" href="#" title="Получить бесплатную консультацию">
                            Austria vs Germany
                        </a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="#" title="Где проживают студенты?">Students' life</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="#" title="Какие документы необходимы?">Required documents</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="#" title="Сколько стоит поступление?">Expenses in Austria</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="#" title="Курсы немецкого языка">German courses</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="#" title="Процесс поступления в ВУЗ">Admission process</a>
                    </li>
                    <li class="links-block__item">
                        <a class="links-block__link" href="#" title="Подготовительные курсы в Австрии">
                            Preparation courses in Austria
                        </a>
                    </li>
                </ul>
                <div class="social-links">
                    <a class="social-links__link icon-facebook2"
                       href="https://www.facebook.com/Info-Austria-1769645839971391/"
                       title="Facebook">
                    </a>
                    <a class="social-links__link icon-vk" href="#" title="Vkontakte"></a>
                    <a class="social-links__link icon-linkedin" href="#" title="LinkedIn"></a>
                </div>
            </div>
            <div class="grid__col_12">
                <div class="copyright">
                    &copy; 2017 Info Austria. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <script src="js/all.js"></script>
    <script src="js/main.js"></script>
</body>
</html>